.react-calendar__month-view__weekdays {
  @apply text-xl font-bold uppercase no-underline;
}

.react-calendar__month-view__weekdays__weekday {
  @apply font-medium text-[16px] leading-[19.5px] min-w-28  !important;
}
/* .react-calendar__month-view__weekdays {
  display: grid !important;
  grid-template-columns: repeat(7, 1fr);
  min-width: 4rem !important;
} */
.react-calendar__month-view__weekdays__weekday:hover {
  @apply bg-blue-200 text-blue-600;
}
abbr[title] {
  text-decoration: none !important;
}
.react-calendar {
  box-shadow: none !important;
}
.button-months {
  @apply font-medium text-[20px] leading-[24.38px] border-[0.5px] w-60 h-12 border-brown-primary rounded-[20px];
}
/* .react-calendar__tile.today {
  @apply bg-brown-primary font-medium text-[20px] leading-[29.26px] text-white rounded-[50%];
}

.react-calendar__tile.future {
  @apply bg-white font-medium text-[20px] leading-[29.26px] text-black  rounded-[50%] border border-[#4F4F4F];
}

.react-calendar__tile.past {
  @apply bg-[#EAEAEA] font-medium text-[20px] leading-[29.26px] text-black rounded-[50%];
} */
/* .react-calendar__tile {
  @apply text-[20px] bg-[#EAEAEA]  rounded-[50%]   !important;
} */
