/* Combined Import for Montserrat and Roboto */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
/* body {
  font-family: "montserrat";
} */
body {
  font-family: "montserrat", sans-serif;
  overflow-x: hidden;
}
.basic-p {
  @apply font-normal text-[20px] leading-[24.38px];
}
/* about us */
.about-p {
  @apply font-normal text-[20px] leading-[24.38px];
}
.about-H1 {
  @apply font-extrabold  text-brown-primary md:text-[40px] uppercase text-[28px] leading-[40px] md:leading-[48.76px];
}
.about-bullet::before {
  @apply content-['•'] text-black text-3xl mr-4;
}

/* primary */
.primary-p {
  @apply font-normal sm:text-[20px] leading-[24.38px];
}

.italic-p {
  @apply font-medium uppercase italic sm:text-base leading-[19.5px];
}
.h1-heading {
  @apply font-black   md:text-[40px] uppercase text-[28px] leading-[40px] md:leading-[48.76px];
}
