/* Combined Import for Montserrat and Roboto */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
/* body {
  font-family: "montserrat";
} */
body {
  font-family: "montserrat", sans-serif;
  overflow-x: hidden;
}
/* .basic-p {
  @apply font-normal text-[20px] leading-[24.38px]; */
/* } */
/* about us */
/* .about-p {
  @apply font-normal text-[20px] leading-[24.38px];
}
.about-H1 {
  @apply font-extrabold  text-brown-primary md:text-[40px] uppercase text-[28px] leading-[40px] md:leading-[48.76px];
} */
/* Booking  */
.booking-h1 {
  @apply uppercase font-[900]  text-center md:text-start text-3xl md:text-5xl text-brown-primary leading-[40px] md:leading-[50px] lg:leading-[58.51px] mb-10 mt-2;
}
/* primary */
.primary-p {
  @apply font-normal sm:text-[20px] leading-[24.38px];
}

.italic-p {
  @apply font-medium uppercase italic sm:text-base leading-[19.5px];
}
.h1-heading {
  @apply font-black   md:text-[40px] uppercase text-[28px] leading-[40px] md:leading-[48.76px];
}

.hover-styling {
  @apply transition-all hover:shadow-lg shadow-brown-primary duration-300 ease-in-out delay-100;
}
.hover-white {
  @apply hover:text-brown-primary hover:border-0 hover:border-none hover:bg-white hover:font-semibold hover:!shadow-brown-primary;
}
/* src/styles/custom-scrollbar.css */

/* Webkit Browsers (Chrome, Safari, Edge) */
.custom-scrollbar::-webkit-scrollbar {
  height: 6px; /* Decreased height for thinner scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Transparent track to hide it by default */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #523939; /* Scrollbar thumb color */
  border-radius: 9999px; /* Fully rounded */
  opacity: 0; /* Hidden by default */
  transition: opacity 0.3s ease, background 0.3s ease;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3); /* Inner shadow for depth */
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
  opacity: 1; /* Show thumb on hover */
  background: #6b4a4a; /* Slightly lighter color on hover for effect */
  box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.4); /* Enhanced shadow on hover */
}

/* Firefox */
.custom-scrollbar {
  scrollbar-width: thin; /* Thin scrollbar */
  scrollbar-color: #523939 transparent; /* Thumb and track colors */
  transition: scrollbar-color 0.3s ease;
}

.custom-scrollbar:hover {
  scrollbar-color: #6b4a4a transparent; /* Change thumb color on hover */
}
